*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --text-color: #fff;
    --bg-color: #000;
    --main-color: #ff9f96;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    padding-left: 0%;
    padding-top: 1%;
}

.logo {
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
    text-decoration:none;
}

span {
    color: var(--main-color);
}

.content_body {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.column.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    border-right: 2px solid #fff;
}

.column.detail {
    position: relative;
    width: 85%;
    height: 100%;
}

.title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content:space-around;
    border-bottom:2px solid #fff;
}

.title span {
    font-size: 115px;
    font-weight:650;
    padding-top: 20px;
    color:#fff;
}

.content_hotel {
    position: relative;
    width:100%;
    height: 80%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.ads_content_hotel {
    position: relative;
    height: 50%;
    width: 100%;
}

.header_hotel {
    height: 10%;
    color:var(--main-color);
}

.main_content_hotel {
    position: relative;
    height: 90%;
    display:flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 19px;
}

.main_content_hotel p {
    padding-left: 20px;
}

.header_hotel {
    padding-left: 20px;
}

.ads_image {
    width: 30%;
    height: 100%;
}

.ads_content {
    width: 60%;
    height: 100%;
}

.ads_btn_booking {
    width: 10%;
    height: 100%;
	display: flex; 
	justify-content: center; 
	align-items: center;
}

.ads_btn_background {
    width: 80%;
    height: 15%;
    background-color:#ff9f96;
    display: flex; 
	justify-content: center; 
	align-items: center;
    border-radius: 8%;
    font-weight: 600;
    font-size: 15px;
}

a {
    text-decoration:none;
    color:#fff;
}

.ads_btn_background:hover {
    letter-spacing: 2px;
    transition: all .50s ease;
    background-color:rgb(226, 83, 83);
    cursor: pointer;
}

.ads_btn_background:hover::before {
    opacity: 1;
    transform: scale(1,1);
}


.ads_btn_background:hover::after {
    opacity:0;
    transform:scale(0.1, 1);
}

.btn_menu_catergories {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.btn_menu_catergoies_text {
    width: 60%;
    height: 100%;
	display: flex; 
	justify-content: center; 
	align-items: center;
}

.btn_menu_catergoies_icon {
    width: 10%;
    height: 100%;
    display: flex; 
	justify-content: center; 
	align-items: center;
}