*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --text-color: #fff;
    --bg-color: #000;
    --main-color: #ff9f96;

    --h1-font: 6.5rem;
    --h2-font:3rem;
    --p-font: 1rem;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }  

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 2% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.logo{
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
}

span{
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    margin: 15px 22px;
    justify-content: space-around;
    font-size: var(--p-font);
    font-weight: 500;
    transition: all .50s ease;
}

a{
    text-decoration:none
}

.navbar a:hover{
    color: var(--main-color);
}

.h-right{
    display: flex;
    align-items: center;
}

.h-right a:first-child{
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;
}

.h-right a{
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
}

.h-right a:hover{
    color: var(--main-color);
    transform: translateY(-3px);
}

#menu-icon{
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section {
    padding: 70px 0px 0px 0%;

}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.home-text{
    position: absolute;
    width: 100%;
    z-index: 1;
}

.home-text h5{
    margin-top: 80px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--main-color);
    justify-items: center;
    padding: 0% 5% 0% 20%;
    opacity: 1;
}

.home-text h1{
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20;
    padding: 0% 5% 0% 20%;
}

.home-text h3{
    color:#ff9f96;
    font-weight: 650;
    line-height: 1.2;
    margin-bottom: 20;
    padding: 0% 0% 0% 20%;
}

.images {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: space-around;
    padding-top: 10px;
}

div.img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.img:hover {
    transition: all 0.95s ease;
}

div.img_hcm {
    background-image: url("./img/img_hcm.png");
}

div.img_dn {
    background-image: url("./img/img_dn.jpg");
}

div.img_hn {
    background-image: url("./img/img_hn.jpg");
}

div.ads {
    position: relative;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

p.text {
    margin-top: 150px;
    position: absolute;
    filter:brightness(100);
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

div.ads:hover {
    transition: all .75s ease;

}

.btn-one{
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    margin-bottom: 20%;
    background-color: #ff897e;
    border-radius: 10px;
}
 
.btn-text {
    color: #ffffff;
    font-weight: 600;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1,1);
}

.btn-one::after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(248, 248, 248, 0.192);
    border-radius: 10px;
}
 
.btn-one:hover::after {
    opacity:0;
    transform:scale(0.1, 1);
}


/* .home-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
} */
/* 
.btn {
    margin-top: 25px;
    width: 13.5%;
    display: inline-block;
    padding: 13px 40px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
} */



